<!DOCTYPE html>
<html ng-app="warpApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/scripts/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-resource.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="/scripts/angular-app.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Share:400,700italic' rel='stylesheet' type='text/css'>
    <title>Warp Attack</title>
  </head>
  <body ng-controller="BoardCtrl">
    <div class="wrapper">

      <header>
        <div id='banner'>
          <h1>WARP ATTACK</h1>
        </div>
      </header>
      <!-- board row -->
      <div class="row" ng-show=loggedIn>

        <div class="tray-col left">
          <div class="tray battle">
            <div class="tray-cell cell" ng-class="{active : isActive(space)}" ng-repeat="space in leftTray | orderBy: rowSortOrder | orderBy: colSortOrder | leftTray"
              id="r{{space.row}}c{{space.col}}"  ng-click="activate(space,$index)">
               <div class="token {{space.color.charAt(0)}}{{space.rank.toString().charAt(0)}}">{{space.rank.toString().charAt(0).toUpperCase()}}</div>
            </div>
          </div>
        </div>

        <div class="button-col">
          <button ng-class="blueButtons()" ng-click="setBlueTray()" >RESET</button>
          <button ng-class="blueButtons()" ng-click="setBlueField()" >QUICK SET</button>
          <button ng-class="blueButtons()" ng-click="startGameBlue()" >START GAME</button>
        </div>

        <div class="board-col">
          <div class="main battle">
            <div class="board-cell cell" ng-class="{active : isActive(space)}" ng-repeat="space in board | orderBy: colSortOrder | orderBy: rowSortOrder | board" id="r{{space.row}}c{{space.col}}" ng-click="activate(space,$index)">
                  <div class="token {{space.color.charAt(0)}}{{space.rank.toString().charAt(0)}}">{{space.rank.toString().charAt(0).toUpperCase()}}</div>
            </div>
          </div>
        </div>

        <div class="button-col">
          <button ng-class="redButtons()" ng-click="setRedTray()" >RESET</button>
          <button ng-class="redButtons()" ng-click="setRedField()" >QUICK SET</button>
          <button ng-class="redButtons()" ng-click="startGameRed()" >START GAME</button>
        </div>

        <div class="tray-col">
          <div class="tray battle">
            <div class="tray-cell cell" ng-class="{active : isActive(space)}" ng-repeat="space in rightTray  | orderBy: rowSortOrder | orderBy: colSortOrder | rightTray" id="r{{space.row}}c{{space.col}}" ng-click="activate(space,$index)">
               <div class="token {{space.color.charAt(0)}}{{space.rank.toString().charAt(0)}}">{{space.rank.toString().charAt(0).toUpperCase()}}</div>
            </div>
          </div>
        </div>





      </div> <!-- end board row -->

      <div class="login" ng-hide=loggedIn ng-controller="PlayerCtrl">
        <div class="row flags">
          <div class="login-col">
            <div id="blue-flag"></div>
          </div>
          <div class="login-col">
            <div id="middle">VS</div>
          </div>
          <div class="login-col">
            <div id="red-flag"></div>
          </div>
        </div>

        <div class="row buttons">
          <div id="blue-button-col">
            <button ng-hide=bluePresent ng-click=chooseBlue()>Choose Blue</button>
            <h3 ng-show=bluePresent>WAITING TO<br>PLAY YOU</h3>
            <button ng-show=bluePresent ng-click=logOutBlue()>Log Out</button>
          </div>
          <div id="red-button-col">
            <button ng-hide=redPresent ng-click=chooseRed()>Choose Red</button>
            <h3 ng-show=redPresent>WAITING TO<br>PLAY YOU</h3>
            <button ng-show=redPresent ng-click=logOutRed()>Log Out</button>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="controls" ng-controller="PlayerCtrl" ng-show="loggedIn">
        <p>{{ moveMessage }}</p>
        <p>{{ battleMessage }}</p>
      </div>
    </div>
  </body>
</html>
